* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.bloco-icon{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 350px;
    margin: 0 2%;
}

.image-cover {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    padding: 10px;
    margin: 5% auto 5%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 9px 1px;
}

import url("https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,600,700,800&display=swap");

html, body {
    font-family: "Libre Franklin", sans-serif;
}

div.carousel-nav-icon > svg {
    height: 48px;
    width: 48px;
}



@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33%);
    }

    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
    transform: translateX(0);
}

.dark-mode-toggle {
    bottom: 3%;
    right: 3%;
    z-index: 10;
}
.dark-mode-toggle,
.dark-mode-toggle > *, 
.dark-mode-toggle > * > * {
    cursor: pointer;
}

.shadow-nav {
    box-shadow: 0 0 9px 1px;
}

.card-review {
    img {
       width: 2.5rem;
       height: 2.5rem;
    }
 }
